---
import Content from '../components/Content.svelte'
---

<Content>
  <div slot="header">Ejemplo de Header</div>
  <div slot="content">Ejemplo de Content</div>
  <div slot="footer">Ejemplo de Footer</div>
</Content>
